################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevCore-Seminar3/CopilotIndices/17.14.1593.33849/CodeChunks.db-wal
